.bona-nova-sc-regular {
  font-family: "Bona Nova SC", serif;
  font-weight: 400;
  font-style: normal;
}

.bona-nova-sc-bold {
  font-family: "Bona Nova SC", serif;
  font-weight: 700;
  font-style: normal;
}

.bona-nova-sc-regular-italic {
  font-family: "Bona Nova SC", serif;
  font-weight: 400;
  font-style: italic;
}

.rubik-font {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body {
  background: #4c4c78;
  width: auto;
  height: auto;
}
.nav {
  margin: 0 7rem;
  padding-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav .logo h2 {
  font-size: 1.5rem;
  font-family: "Bona Nova SC", serif;
  font-weight: 700px;
  color: whitesmoke;
}
.nav .logo {
  font-size: 1.5rem;
  font-family: "Bona Nova SC", serif;
}

p {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.nav .navigation ul {
  display: flex;
  flex-direction: row;
}

.nav .navigation ul li {
  list-style-type: none;
  margin: 0 1rem;
}

.nav .navigation ul li a {
  text-decoration: none;
  font-size: 1rem;
  text-transform: uppercase;
  color: whitesmoke;
  transition: 0.3s ease;
  font-weight: 800;
}

.nav .navigation ul li a:hover {
  color: #63ddf3;
}

.nav .navigation ul li a span {
  font-size: 1.2rem;
  border: 1px solid #63ddf3;
  padding: 10px 15px;
  background: #072e35;
  border-radius: 5px;
}

.home {
  margin: 0 7rem;
  padding-top: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.home .text {
  width: 35%;
}

.home .text h1 {
  font-size: 3rem;
  font-weight: bold;
  letter-spacing: 4px;
  color: rgb(70, 126, 175);
  line-height: 65px;
  padding-bottom: 10px;
  padding-top: -10px;
}
.home .text h5 {
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 4px;
  color: rgb(53, 181, 255);
}
.home .text p {
  font-size: 1rem;
  letter-spacing: 1px;
  line-height: 30px;
  padding-bottom: 12px;
  color: aliceblue;
}

.home .back {
  width: 52%;
}

.home .back img {
  width: 100%;
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}

.home .text button {
  background: #072e35;
  border: 1px solid #63ddf3;
  color: white;
  padding: 20px 25px;
  font-size: 1rem;
  font-weight: 800;
  text-transform: uppercase;
  border-radius: 30px;
  cursor: pointer;
}
